.container {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 400px;
  z-index: 1;

  li {
    margin: 0 20px;
    width: 200px;
  }

  .mover {
    position: absolute;
    transition: all 1s;

    &.floorB {
      bottom: 0;
    }

    &.floor1 {
      bottom: 25%;
    }

    &.floor2 {
      bottom: 50%;
    }

    &.floor3 {
      bottom: 75%;
    }
  }
}
